<div>
  <h1 class="text-4xl">
    Hello, <%= @username %>
  </h1>

  <hr />

  <div>
    <ul>
      <%= for item <- @list do %>
        <li><.want item={item} /></li>
      <% end %>
    </ul>
  </div>
</div>
